{% extends "base.jinja" %}
{% from "_pagination.jinja" import render_pagination with context %}
{% block title %}: {{ convocation.number }} скликання Верховної Ради України{% endblock%}

{% block content %}

<div class="block_main_info">
    <div class="header_container">
        <div class="row block_header cf">
            <div class="col-md-12">
                <div class="header_content">
                    <h2>{{ convocation.number }} скликання</h2>
                </div>
                <div class="text-period">
                    <p>{% if convocation.year_from %}{{ convocation.year_from }}{% endif %}
                       {% if convocation.year_to %}—{{ convocation.year_to }}{% endif %}</p>
                </div>
                <div class="count_helpers">
                    <p>
                        Знаємо про <strong>{{ convocation.num_minions }}</strong> помічників <br> у
                        <strong>{{ convocation.num_mps }}</strong> нардепів
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" itemscope itemtype="http://schema.org/Organization">
    <span class="hide">
        <span itemprop="numberOfEmployees">{{ convocation.num_mps }}</span>
        <span itemprop="name">{{ convocation.number }} слкикання Верховної Ради України</span>
        <link itemprop="url" href="{{ url("convocation", convocation.number) }}" />
        {% if convocation.year_from %}
        <span itemprop="foundingDate">{{ convocation.year_from }}</span>
        {% endif %}
        {% if convocation.year_to %}
        <span itemprop="dissolutionDate">{{ convocation.year_to }}</span>
        {% endif %}
        <span itemprop="address">вул. Михайла Грушевського, 5, Київ, 01008</span>
        <span itemscope itemtype="http://schema.org/Organization" itemprop="parentOrganization">
            <span itemprop="name">Верховна Рада України</span>
            <link itemprop="url" href="http://rada.gov.ua/" />
            <span itemprop="address">вул. Михайла Грушевського, 5, Київ, 01008</span>
        </span>
    </span>
    <section class="main_content cf">

        {#<ul class="list_abc_menu cf">
            <li class="item f_left">
                <a href="#block_abc_1">А</a>
            </li>
            <li class="item f_left">
                <a href="#block_abc_2">Б</a>
            </li>
            <li class="item f_left">
                <a href="#block_abc_3">В</a>
            </li>
            <li class="item f_left">
                <a href="#">Г</a>
            </li>
            <li class="item f_left">
                <a href="#">Д</a>
            </li>
            <li class="item f_left">
                <a href="#">Е</a>
            </li>
            <li class="item f_left">
                <a href="#">Є</a>
            </li>
            <li class="item f_left">
                <a href="#">Ж</a>
            </li>
            <li class="item f_left">
                <a href="#">З</a>
            </li>
            <li class="item f_left">
                <a href="#">И</a>
            </li>
            <li class="item f_left">
                <a href="#">І</a>
            </li>
            <li class="item f_left">
                <a href="#">Ї</a>
            </li>
            <li class="item f_left">
                <a href="#">К</a>
            </li>
            <li class="item f_left">
                <a href="#">Л</a>
            </li>
            <li class="item f_left">
                <a href="#">М</a>
            </li>
            <li class="item f_left">
                <a href="#">Н</a>
            </li>
            <li class="item f_left">
                <a href="#">О</a>
            </li>
            <li class="item f_left">
                <a href="#">П</a>
            </li>
            <li class="item f_left">
                <a href="#">Р</a>
            </li>
            <li class="item f_left">
                <a href="#">С</a>
            </li>
            <li class="item f_left">
                <a href="#">Т</a>
            </li>
            <li class="item f_left">
                <a href="#">У</a>
            </li>
            <li class="item f_left">
                <a href="#">Ф</a>
            </li>
            <li class="item f_left">
                <a href="#">Х</a>
            </li>
            <li class="item f_left">
                <a href="#">Ц</a>
            </li>
            <li class="item f_left">
                <a href="#">Ч</a>
            </li>
            <li class="item f_left">
                <a href="#">Ш</a>
            </li>
            <li class="item f_left">
                <a href="#">Щ</a>
            </li>
            <li class="item f_left">
                <a href="#">Ю</a>
            </li>
            <li class="item f_left">
                <a href="#">Я</a>
            </li>
        </ul>
        #}

        {% for letters in mps|groupby('first_letter') %}
            <div id="block_abc_1" class="block_wrap panel-group">
                <span class="elem_anc_title">{{ letters.grouper }}</span>
                {% for mp_by_letter in letters.list %}
                    {% set minions = mp_by_letter.minion2mp2convocation_set.select_related("minion").all() %}
                    <div class="block_abc_1 panel panel-default" itemscope itemtype="http://schema.org/Person" itemprop="employee">
                        <div class="panel_block cf">
                            <a href="{{ url("mp_details", mp_by_letter.mp.id )}}" class="link_person panel_title f_left" itemprop="url">
                                <span itemprop="name">{{ mp_by_letter.mp.name }}</span><span itemprop="jobTitle" class="hide">Депутат</span>
                            </a>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ mp_by_letter.mp.id }}" class="button_acc collapsed f_right cf">
                                <span class="f_right">{{ minions|length }}</span>
                            </a>
                        </div>
                        <div id="collapse{{ mp_by_letter.mp.id }}" class="panel-collapse collapse">
                            {% for minion in minions %}
                            <div class="panel-body" itemprop="knows" itemscope itemtype="http://schema.org/Person">
                                <div class="col-md-12">
                                    <a href="{{ url("minion_details", minion.minion.id ) }}" class="link_nb">
                                        <p itemprop="name">{{ minion.minion.name }}</p>
                                        <span itemprop="jobTitle" class="hide">Помічник народного депутата</span>
                                        <span class="radius {% if minion.paid == "На громадських засадах" %}yellow{% else %}blue{% endif %}">{{ minion.paid }}</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% if mps.paginator.num_pages > 1 %}
        <div class="text-center">
            <nav>
            {{ render_pagination(mps, "") }}
            </nav>
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}
