{% extends "base.jinja" %}

{% block content %}
<div class="row">
    {% for conv in convocations %}
    <div class="col-lg-4">
        <a href="{{ url("convocation", conv.number) }}"><img class="img-circle" src="{{ MEDIA_URL }}{{ conv.img }}" alt="" width="140" height="140"></a>
        <h2><a href="{{ url("convocation", conv.number) }}">{{ conv.number }} скликання</a></h2>
        <p>{{ conv.year_from }}{% if conv.year_to %}—{{ conv.year_to }}{% endif %}</p>
        <p>Знаємо про {{ conv.num_minions }} помічників у {{ conv.num_mps }} нардепів</p>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
</div><!-- /.row -->
{% endblock %}
