{% extends "base.jinja" %}
{% from "_pagination.jinja" import render_pagination with context %}
{% from "_results.jinja" import render_minions with context %}
{% block title %}: {{ convocation.number }} скликання Верховної Ради України{% endblock%}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <a href="{{ url("convocation", convocation.number) }}" class="flying-leader"><img class="img-circle" src="{{ MEDIA_URL }}{{ convocation.img }}" alt="" width="140" height="140"></a>
        <h2><a href="{{ url("convocation", convocation.number) }}">{{ convocation.number }} скликання</a></h2>
        <p>{{ convocation.year_from }}{% if convocation.year_to %}—{{ convocation.year_to }}{% endif %}</p>
        <p>Знаємо про <strong>{{ convocation.num_minions }}</strong> помічників у <strong>{{ convocation.num_mps }}</strong> нардепів</p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div class="row">
    {{ render_minions(minions) }}
</div><!-- /.row -->
{% endblock %}
