{% extends "base.jinja" %}
{% block title %}: {{ minion.name }}, помічник народного депутата{% endblock %}
{% block body_class %}posipak{% endblock %}

{% block content %}
    <div class="block_main_info">
        <div class="header_container">
            <div class="row block_header cf">
                <div class="col-md-12">
                    <div class="text_content">
                        <h2>{{ minion.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name" class="hide">{{ minion.name }}</span>
        <span itemprop="jobTitle" class="hide">Помічник народного депутата</span>
        <link itemprop="url" href="{{ url("minion_details", minion.id )}}" />

        <section class="main_content cf">
            <h3>Був помiчником у депутатiв</h3>

            <div class="block_wrap block_row cf">
                {% for mp in minion.minion2mp2convocation_set.select_related("mp2convocation", "mp2convocation__mp") %}
                    <div class="col-md-12"  itemscope itemtype="http://schema.org/Person" itemprop="knows">
                        <div class="col-md-6">
                            <p><a href="{{ url("mp_details", mp.mp2convocation.mp.id) }}" itemprop="url"><span itemprop="name">{{ mp.mp2convocation.mp.name }}</span></a>
                            <span itemprop="jobTitle" class="hide">Депутат</span></p>
                        </div>
                        <div class="col-md-6" itemscope itemtype="http://schema.org/Organization" itemprop="worksFor">
                            <p><span itemprop="name">{{ mp.mp2convocation.party }}</span>, <a href="{{ url("convocation", mp.mp2convocation.convocation_id) }}">{{ mp.mp2convocation.convocation_id }} скликання</a></p>
                            <span class="circle {% if mp.paid == "На громадських засадах" %}yellow{% else %}blue{% endif %}" title="{{ mp.paid }}"></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}