{% extends "base.jinja" %}
{% block title %}: {{ mp.name }}, помічники народного депутата України{% endblock %}
{% block body_class %}posipak_detail{% endblock %}

{% block content %}
<div class="block_main_info">
    <div class="header_container">
        <div class="row block_header cf">
            <div class="col-md-12">
                <div class="header_content">
                    <h2>{{ mp.name }}</h2>
                </div>

                {% if mp.link %}
                <div class="text_content">
                    <a class="find_viki" href="{{ mp.link }}" target="_blank">Читати докладніше на Вікіпедії</a>
                </div>
                {% endif %}

                {% if mp.img %}
                <div class="icon_person">
                    <img alt="{{ mp.name }}" src="{{ mp.img|thumbnail_url("avatar") }}" class="img-circle" />
                </div>    
                {% endif %}         
            </div>
        </div>
    </div>
</div>

<div class="container" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name" class="hide">{{ mp.name }}</span>
    <span itemprop="jobTitle" class="hide">Депутат</span>
    <link itemprop="url" href="{{ url("mp_details", mp.id )}}" />
    {% if mp.img %}
    <link itemprop="image" href="{{ mp.img }}" />
    {% endif %}
    <section class="main_content cf">
        <div class="tab_block">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                {% for convocation in mp.mp2convocation_set.all() %}
                    <li {% if loop.first %}class="active"{% endif %}><a href="#conv_{{ convocation.convocation_id }}" data-toggle="tab">{{ convocation.convocation_id }} скликання</a></li>
                {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {% for convocation in mp.mp2convocation_set.all() %}
                <div class="tab-pane{% if loop.first %} active{% endif %}" id="conv_{{ convocation.convocation_id }}">
                    <div class="top_block main_information cf" itemscope itemtype="http://schema.org/Organization" itemprop="memberOf">
                        {% if convocation.party %}
                        <p itemprop="name"><span class="f_left">Партія</span> {{ convocation.party }}</p>
                        {% endif %}

                        {% if convocation.district %}
                        <p><span class="f_left">Округ</span>{{ convocation.district }}</p>
                        {% endif %}

                        {% if convocation.date_from or convocation.date_to %}
                        <p><span class="f_left">Період</span>{% if convocation.date_from|date %}з {{ convocation.date_from }}{% endif %} {% if convocation.date_to %}по {{ convocation.date_to }}{% endif %}</p>
                        {% endif %}

                        {% if convocation.link %}
                        <p><span class="f_left">Інфо</span><a href="{{ convocation.link }}" target="_blank">сторінка на сайті ВР</a></p>
                        {% endif %}
                    </div>
                    {% set minions = convocation.minion2mp2convocation_set.select_related("minion").order_by("-paid", "minion__name").all() %}
                    <div class="bottom_block list_persons cf">
                        <div class="person_count">
                            <p>{{ minions|length }} помiчникiв</p>
                        </div>
                        <div class="wrap_block cf">
                            {% for minion in minions %}
                            <div class="panel-body" itemprop="knows" itemscope itemtype="http://schema.org/Person">
                                <div class="col-md-12">
                                    <a href="{{ url("minion_details", minion.minion.id )}}" class="link_nb" itemprop="url">
                                        <p itemprop="name">{{ minion.minion.name }}</p>
                                        <span itemprop="jobTitle" class="hide">Помічник народного депутата</span>
                                        <span class="radius {% if minion.paid == "На громадських засадах" %}yellow{% else %}blue{% endif %}" title="{{ minion.paid }}">{{ minion.paid|truncate(25) }}</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
</div>
{% endblock %}
