Django==2.0.6
django-jinja==2.2.2
elasticsearch-dsl==6.1.0
Pillow==6.2.0
psycopg2==2.7.3.2
python-dateutil==2.6.0
translitua==1.2.4
easy-thumbnails==2.5
requests==2.18.4
raven==6.9.0
tqdm==4.23.0
names-translator==1.1.0
gunicorn==19.9.0
