django>=2.2.13
django-jinja==2.8.0
elasticsearch-dsl==6.1.0
Pillow
psycopg2-binary
python-dateutil==2.6.0
translitua==1.2.4
easy-thumbnails==2.7.1
requests
raven==6.9.0
tqdm==4.23.0
names-translator==1.1.0
gunicorn==19.9.0
